.header {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 550px) {
    justify-content: flex-start;
  }

  .header_wrapper {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-between;

    .links {
      display: flex;
      margin-right: 30px;
      flex-direction: column;
      height: 300px;
      align-items: center;
      justify-content: space-between;

      @media screen and (max-width: 1150px) {
        height: 250px;
      }
      @media screen and (max-width: 808px) {
        height: 220px;
      }

      @media screen and (max-width: 608px) {
        margin-right: 20px;
      }

      a {
        color: var(--secondary-color);
        font-size: 2.2rem;
        border-left: 2.5px solid transparent;
        position: relative;

        @media screen and (max-width: 808px) {
          font-size: 1.8rem;
        }

        // hover effect

        &::after {
          content: " ";
          position: absolute;
          border-left: 2px var(--secondary-color) solid;
          top: 5px;
          left: -7px;
          height: 0;
          margin-top: auto;
          margin-bottom: auto;
        }

        &:hover {
          &::after {
            height: 75%;
            transition: all 0.3s ease-in-out;
          }
        }
      }

      .scrollDown-link {
        background-color: transparent;
        border: 2px solid var(--secondary-color);
        height: 60px;
        width: 25px;
        border-radius: 10px;
        position: relative;

        &:hover {
          &::after {
            top: 0;
            height: 100%;
            transition: all 0.3s ease-in-out;
          }
        }

        .circle {
          height: 20px;
          width: 20px;
          border-radius: 50%;
          animation: scrollDown 1s ease infinite;
          position: absolute;
          background-color: var(--secondary-color);
          bottom: 0;
        }
      }
    }

    .header-desc {
      text-transform: capitalize;
      min-width: 700px;
      @media screen and (max-width: 980px) {
        min-width: auto;
      }
      p {
        font-size: 2.1rem;

        @media screen and (max-width: 608px) {
          font-size: 1.7rem;
        }
      }

      h1 {
        font-size: 5.3rem;
        letter-spacing: 3.3px;
        @media screen and (max-width: 1150px) {
          font-size: 4rem;
        }
        @media screen and (max-width: 808px) {
          font-size: 3.5rem;
          letter-spacing: 1px;
        }
        @media screen and (max-width: 473px) {
          font-size: 2.6rem;
          letter-spacing: normal;
        }
      }

      span {
        font-size: 1.7rem;
        color: var(--thered-color);
        @media screen and (max-width: 473px) {
          font-size: 1.3rem;
        }
      }

      .buttons {
        margin-top: 50px;
        width: fit-content;
        display: flex;
        gap: 40px;

        @media screen and (max-width: 1150px) {
          margin-top: 30px;
        }
        button {
          padding: 15px;
          border-radius: 10px;
          font-size: 1.2rem;
          border: 1px solid var(--secondary-color);
          transition: all 0.2s ease-in-out;
          cursor: pointer;

          @media screen and (max-width: 608px) {
            padding: 8px;
            font-size: 1rem;
          }

          &:nth-child(1) {
            background-color: transparent;
            a {
              color: var(--secondary-color);
            }
          }

          &:nth-child(2) {
            background-color: var(--secondary-color);
            a {
              color: var(--bg-color);
              &:hover {
                color: var(--secondary-color);
              }
            }
          }

          &:hover {
            background-color: var(--primary-color);
            color: var(--secondary-color);
          }
        }
      }
    }
  }
}
@keyframes scrollDown {
  0% {
    bottom: 0;
  }
  50% {
    bottom: 50%;
  }
  100% {
    top: 0%;
  }
}

.scrollTopBtn {
  font-size: 4.4rem;
  color: var(--bg-color);
  height: 70px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--secondary-color);
  position: fixed;
  right: 5.2rem;
  bottom: 5.2rem;
  color: var(--bg-color);
  cursor: pointer;
  transition: all 0.8s ease;
  box-shadow: 0 0 8px rgb(50, 50, 50);

  &:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
  }

  @media screen and (max-width: 808px) {
    display: none;
  }
}
